spring:
  application:
    name: api

  datasource:
    url: jdbc:postgresql://localhost:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true


stripe:
  secret-key: ${STRIPE_SECRET_KEY}
  webhook:
    secret: ${STRIPE_WH_SECRET}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}