spring:
  application:
    name: api

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

stripe:
  secret-key: ${STRIPE_SECRET_KEY}
  webhook:
    secret: ${STRIPE_WH_SECRET}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}